In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key 
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Airai,-8.9266,125.4092,61.27,90,8,1.88,TL,2021-10-17 20:19:53
1,1,Clyde River,70.4692,-68.5914,28.20,79,95,11.90,CA,2021-10-17 20:16:35
2,2,Mar Del Plata,-38.0023,-57.5575,62.62,39,0,1.01,AR,2021-10-17 20:20:04
3,3,Leningradskiy,69.3833,178.4167,9.45,96,100,4.72,RU,2021-10-17 20:21:58
4,4,Khatanga,71.9667,102.5000,32.83,99,100,12.62,RU,2021-10-17 20:20:09

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) 
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 77
What is the maximum temperature you would like for your trip? 83

In [52]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,10,Bengkulu,-3.8004,102.2655,77.59,86,100,3.13,ID,2021-10-16 16:30:55
12,12,Butaritari,3.0707,172.7902,81.59,69,61,16.33,KI,2021-10-16 16:31:47
16,16,Santa Rosa,14.3122,121.1114,82.85,76,87,5.03,PH,2021-10-16 16:31:33
39,39,Atuona,-9.8000,-139.0333,77.74,77,30,22.44,PF,2021-10-16 16:30:43
64,64,Sola,-13.8833,167.5500,80.31,76,84,4.43,VU,2021-10-16 16:33:41
66,66,Bairiki,1.3292,172.9752,78.80,78,20,8.05,KI,2021-10-16 16:34:54
95,95,Kieta,-6.2167,155.6333,80.20,84,85,3.65,PG,2021-10-16 16:34:06
117,117,Nishihara,26.1842,127.7558,78.08,81,20,8.05,JP,2021-10-16 16:33:59
122,122,Faanui,-16.4833,-151.7500,80.06,73,37,23.80,PF,2021-10-16 16:30:57
127,127,Kribi,2.9500,9.9167,77.99,87,100,6.17,CM,2021-10-16 16:35:10

In [53]:
preferred_cities_df.count()

City_ID       96
City          96
Lat           96
Lng           96
Max Temp      96
Humidity      96
Cloudiness    96
Wind Speed    96
Country       95
Date          96
dtype: int64

In [54]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
10     Bengkulu      ID     77.59  -3.8004  102.2655
12   Butaritari      KI     81.59   3.0707  172.7902
16   Santa Rosa      PH     82.85  14.3122  121.1114
39       Atuona      PF     77.74  -9.8000 -139.0333
64         Sola      VU     80.31 -13.8833  167.5500
66      Bairiki      KI     78.80   1.3292  172.9752
95        Kieta      PG     80.20  -6.2167  155.6333
117   Nishihara      JP     78.08  26.1842  127.7558
122      Faanui      PF     80.06 -16.4833 -151.7500
127       Kribi      CM     77.99   2.9500    9.9167

In [59]:
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.") 

params = params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": ""} 

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Bengkulu,ID,77.59,-3.8004,102.2655,Grage Hotel Bengkulu
12,Butaritari,KI,81.59,3.0707,172.7902,Isles Sunset Lodge
16,Santa Rosa,PH,82.85,14.3122,121.1114,Erlyn’s Sta Rosa City Home
39,Atuona,PF,77.74,-9.8000,-139.0333,Villa Enata
64,Sola,VU,80.31,-13.8833,167.5500,Leumerus Bungalows

In [62]:
hotel_df.count()

City          96
Country       95
Max Temp      96
Lat           96
Lng           96
Hotel Name    97
dtype: int64

In [63]:
clean_df = hotel_df.dropna()

In [64]:
clean_df.count()

City          95
Country       95
Max Temp      95
Lat           95
Lng           95
Hotel Name    95
dtype: int64

In [65]:
# Add a heatmap of temperature for the vacation spots.
locations = clean_df[["Lat", "Lng"]]
max_temp = clean_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Add a heatmap of temperature for the vacation spots.
locations = clean_df[["Lat", "Lng"]]
max_temp = clean_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [69]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in clean_df.iterrows()]

In [70]:
# Add a heatmap of temperature for the vacation spots.
locations = clean_df[["Lat", "Lng"]]
max_temp = clean_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info) 
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))