## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/abaze/OneDrive/Desktop/database/Classwork/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,2,Rikitea,PF,75.13,clear sky,-23.1203,-134.9692,People ThankYou
1,8,Razole,IN,78.57,overcast clouds,16.4833,81.8333,Sterling Palavelli Godavari
2,9,Kanganpur,PK,72.88,clear sky,30.7663,74.1231,Bismillah Hotel
3,18,Kapaa,US,78.48,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,21,Atuona,PF,77.92,light rain,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl> 
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info) 
# 4b. Display the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
#city1 =Merrill
#city2 =Albion
#city3 =Sterling
#city4 =Avera
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Saint Anthony")]  
vacation_end = vacation_df.loc[(vacation_df["City"] == "Saint Anthony")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Elizabeth City")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Russell")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Saint George")] 
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
88,296,Saint Anthony,US,78.73,clear sky,45.0205,-93.218,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [6]:
x = vacation_start.to_numpy()[0][5:7] 
y = list(x) 
x

array([45.0205, -93.218], dtype=object)

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start.to_numpy()[0][5:7]) 
end = tuple(vacation_start.to_numpy()[0][5:7]) 
stop1 = tuple(vacation_stop1.to_numpy()[0][5:7]) 
stop2 = tuple(vacation_stop2.to_numpy()[0][5:7])
stop3 = tuple(vacation_stop3.to_numpy()[0][5:7]) 
start

(45.0205, -93.218)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure() 
x = gmaps.directions_layer(start, end , waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(x)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,296,Saint Anthony,US,78.73,clear sky,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
1,625,Elizabeth City,US,72.03,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
2,615,Russell,US,74.91,clear sky,32.3502,-85.1999,Macs
3,86,Saint George,US,72.07,few clouds,37.1041,-113.5841,Best Western Plus Abbey Inn

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl> 
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info) 
# 11b. Display the figure
 
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))